.acco-menu {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100%;
  background: url("../img/menu-bg.png") no-repeat;
  background-size: cover;
  min-height: 650px;
}

.menu__title {
  font-family: Gagalin, sans-serif;
  font-size: rem(72px);
  font-weight: normal;
  color: #fff;
  margin-top: rem(115px); 
  margin-left: rem(95px);
  @include phones {
    margin: rem(60px);
  }
  @include small-phones {
    margin: rem(30px);
    font-size: rem(62px);
  }
}

.acco {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    display: flex;
    width: 5vw;
    flex-direction: column;
    white-space: nowrap;
    cursor: pointer;
    transition: 0.8s;    
    @include tablets {
      width: 10.5vw;
    }
    @include phones {
      width: 16vw;
    }
    @include small-phones {
      width: 19vw;
    }

    &-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(#2f3234, 0.7);
    }
    
    &--active {
      width: 50vw;
      transition: 0.8s;
      @include tablets {
        width: 79vw;
        z-index: 2;
      }
      @include phones {
        width: 68vw;
        z-index: 2;
      }
      @include small-phones {
        width: 62vw;
      }
      .acco__item-title {
        left: 8%;
      }
      .acco__item-text {
        width: 45vw;
        color: #fff;
        white-space: normal;
        padding: 10vh 5vw 10vh 10vw;
        font-family: "Ubuntu", sans-serif;
        z-index: 2;
        opacity: 1;
        transition: 0.8s;  
        @include phones {
          z-index: 20;
        }
      }
    }
  
    &-text {
      opacity: 0;
      overflow: hidden;    
    }
  
    &-title {
      font-family: Gagalin, sans-serif;
      font-size: rem(40px);
      color: #fff;
      // width: 0;

      &--active {
        color: $yellow;
      }
      
      position: absolute; 
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include tablets {
        top: 72%;
      }
  
      &__block {
        transform: rotate(-90deg);
      }
    }
  }
}

@each $acco__item in (meat, vegan, diet) {
  .acco__item_#{$acco__item} {
    background: url("../img/#{$acco__item}-bg.png") center right no-repeat;
    background-size: cover;
  }
}
